<section class="container-login">
    <mat-card>
        <div class="example-container">
            <form [formGroup]="loginForm" class="form-login">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Amount</mat-label>
                    <input matInput type="text" class="example-right-align" placeholder="mail@mail.com">
                    <!-- <span matPrefix>$&nbsp;</span> -->
                    <!-- <span matSuffix>.00</span> -->
                </mat-form-field>

                <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                </mat-form-field>
            </form>
        </div>
        <button mat-button>Iniciar Sesión</button>
        <p> <a [routerLink]="[ '/register' ]">Aún no tienes tu cuenta?</a></p>
    </mat-card>
</section>
