.container-login {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 3rem;

    button {
        border: 0;
        padding: .5rem;
        width: 130px;
        margin: .5rem;
    }
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
}