.container-login {
   display: flex;
   justify-content: space-around;
   flex-wrap: nowrap;

   .login--img,
   .login--form {
       width: 50%;
       height: 100vh;
   }
}

.login--img {
    box-shadow: 3px 0px 20px 0px black;

    img {
        width: 100%;
        height: inherit;
    }
}

.login--form {
    display: flex;
    justify-content: center;
    align-items: center;

    .container-form {
        max-width: 400px;
        margin: 0 auto;
    }
}
