<section class="container-login">
    <mat-card class="container-form">
        <header class="header-card">
            <h3>
                Iniciar sesión
            </h3>
            <p>Ingrese su ususario y contraseña</p>
        </header>
        <div class="container-form-content">
            <form [formGroup]="loginForm" class="form">
                <mat-form-field appearance="outline" floatLabel="always" class="form-container-input">
                    <mat-label>Correo</mat-label>
                    <input matInput type="text" placeholder="mail@mail.com">
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="form-container-input">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="*********">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide" class="btn-icon">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <label>pRU4BA</label>
                <input type="file">

            </form>
        </div>
        <button mat-button class="btn btn-primary">Iniciar Sesión</button>
    </mat-card>
</section>