<main class="main-container-login">
    <header>
        <h1>Admin</h1>
    </header>

    <section>
        <mat-card class="card-login">
            <form class="card-login--form">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Usuario o Email</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password">
                </mat-form-field>

                <button>
                    Iniciar sesión
                </button>
            </form>
        </mat-card>
    </section>

    <footer class="footer-login">
        <div>
            <p>Facebook</p>
            <p>Instagram</p>
        </div>
    </footer>
</main>

