<section class="container-nav">
    <nav>
        <a
            [routerLink]="['/dashboard/inventories']"
            routerLinkActive="active" >
            Inventarios
        </a>
        <a
            [routerLink]="['/dashboard/products']"
            routerLinkActive="active">
            Productos
        </a>
        <a
            [routerLink]="['/dashboard/menu']"
            routerLinkActive="active">
            Menu
        </a>
        <a
            [routerLink]="['/dashboard/sales']"
            routerLinkActive="active"
            >Ventas
        </a>
        <a
            [routerLink]="['/dashboard/shoppings']"
            routerLinkActive="active">
            Compras
        </a>
        <a
            [routerLink]="['/dashboard/users']"
            routerLinkActive="active"
            >Usuarios
        </a>
    </nav>
</section>
