.container-nav {
    background: var(--secundary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 90vh;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 2rem auto;
    box-shadow: 3px 0px 8px 1px  rgba(0, 0, 0, 0.1);

    .nav-img{

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    nav {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: all 3s ease-in-out;
        

        .nav-a {
            width: 100px;
            height: 100px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            
            mat-icon  {
                transform: scale(2);
                color: var(--text-color);
            }
        }

        .nav-a:hover {
            background-color: var(--btn-primary);
            border-radius: 2px;
            opacity: 0.5;
        }
    }

    .btn-close {
        border: 0;
        background-color: transparent;
        color: var(--text-color);
        width: 80px;
        height: 80px;
        cursor: pointer;

        :hover {
            transform: scale(1.1);
        }
    }
}

.active {
    background-color: var(--btn-primary);
}