<section class="home">
    <header class="herader--home">
        <h3>Kanrisha Resutoran</h3>
        <p>El lugar donde podras administrar tu negocio de comida</p>
    </header>
    
    <section class="container-home">
        <div class="home-section">
            <!-- <a [routerLink]="['/register']">
                Registro
            </a> -->
            <app-register></app-register>
        </div>
        <div class="home-section">
            <!-- <a [routerLink]="['/login']">
                Login
            </a> -->
            <app-login></app-login>
        </div>
    </section>
</section>
