<section class="container-list-product">
    <div class="list-product--add">
        <button>ADD</button>
    </div>
    <div class="list-product--registers">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> CODIGO </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef> STOCK </th>
                <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> CATEGORIA </th>
                <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
            </ng-container>

            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> UNIDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
            </ng-container>

            <ng-container matColumnDef="costUnit">
                <th mat-header-cell *matHeaderCellDef> COSTO UNITARIO </th>
                <td mat-cell *matCellDef="let element"> {{element.costUnit}} </td>
            </ng-container>

            <ng-container matColumnDef="costSale">
                <th mat-header-cell *matHeaderCellDef> COSTO VENTA </th>
                <td mat-cell *matCellDef="let element"> {{element.costSale}} </td>
            </ng-container>

            <ng-container matColumnDef="performance">
                <th mat-header-cell *matHeaderCellDef> RENDIMIENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.performance}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </div>
</section>