.container-list-product {
    width: 100%;
    margin: .5rem;

    .list-product--registers {
        margin: 1rem 0rem;
        table {
            width: 95%;
            margin: 0 auto;
        }
    }
}