<mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav-header" mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar class="navbar-dashboard">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="icon menu user"
                [matMenuTriggerFor]="menuUser">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menuUser="matMenu">
                <button mat-menu-item [routerLink]="[ '/dashboard/users' ]">
                    <mat-icon>person</mat-icon>
                    <span>Perfil</span>
                </button>
                <button mat-menu-item [routerLink]="[ '/' ]" (click)="logOut()">
                    <mat-icon>person_outline</mat-icon>
                    <span>Cerrar sesión</span>
                </button>
            </mat-menu>
        </mat-toolbar>

        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>

</mat-drawer-container>