.container {
    height: 100vh;
    background: var(--primary);
    color: var(--text-color);
}
.sidenav-header {
    max-width: 200px;
    width: 100%;
    height: inherit;
    background: var(--primary);
    margin: auto;
}

.navbar-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
}

.content {
    margin: 1rem;
    padding: 1rem;
}