/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #2b2d42;
    --secundary: #8d99ae;
    --text-color: #edf2f4;
    --btn-primary: #ef233c;
    --btn-secundary: #d90429;
}

html, body { height: 100vh; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background: #E0EAFC;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

tr,
th.mat-header-cell  {
    text-align: center!important;
}

.btn-icon {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.form {

    .form-container-input {
        width: 100%;
    }
}